<div class"row content">
	<div class="col-md-12 logo"><img alt="Icon" class="logo_spin" id="logo" src="/assets/logo.png" /></div>
	<div class="col-md-12 logotext">chatdown</div>
	<div class="col-md-12 slogan">real time discussions</div>
	<div class="col-md-4"></div>
	<div class="col-md-4 inbox">
		<form role="form">
			<div class="form-group">
				<label for="nickname">Nickname:</label> </br>
				<input type="search" class="nickname" id="nickname" placeholder="Enter your nickname :)">
			</div>
			<button type="submit" class="btn btn-sample">Chatdown</button>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>